# Cube 2: Sauerbraten - Fanatic Edition
*.gch
*.o
*.res
bin/**
bin64/**
bin_unix/**
data/**
docs/**
packages/**
src/**
*README.html
*rpg.bat
*rpg.exe
*server.bat
*server-init.cfg
*sauer_client
*sauer_server
*sauerbraten.bat
*sauerbraten.exe
*sauerbraten.pdb
*sauerbraten_unix

# Hidden (Linux)
.*

# Logs and databases
*.dat
*.log
*.sql
*.sqlite

# OS generated
._*
.directory
*.lnk
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Vim
*~
.netrwhist
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
*.un~

